*{
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid; */
}

.avion__contenedor{
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.avion__svg {
  width: 100%;
  height: 100%;
}

.controles, .asientos{
  width: 50%;
}

.asientos{
  display: flex;
  justify-content: center;
}

.asientos__contenedor{
  border: 1px dotted;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.ejecutivas{
  border: 3px solid blue;
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 10px;
}

.normales{
  border: 3px solid green;
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2;
  grid-template-rows: repeat(7, 1fr);
  row-gap: 30px;
  column-gap: 0px;
}

.asiento__contenedor{
  display: flex;
  justify-content: center;
}

.asiento{
  width: 100%;
}

